- Setting how='outer' allows us to include everything present in both tables.
- Recall we match Andrew and Bob in both tables

<img src="./assets/11/1-merge_1.png" width="600px" />
<br><br>
- We can use how='outer' to make sure we rab all names from both tables.
<img src="./assets/11/1-merge_2.png" width="600px" />
<br><br>
- pd.merge(registrations, logins, how='outer', on='name')
<img src="./assets/11/1-merge_3.png" width="600px" />
<img src="./assets/11/1-merge_4.png" width="600px" />

In [1]:
import pandas as pd
import numpy as np

In [2]:
registrations = pd.DataFrame({'reg_id': [1, 2, 3, 4], 'name': ['Andrew', 'BoBo','Claire','David']})
logins = pd.DataFrame({'log_id': [1, 2, 3, 4], 'name': ['Xavier', 'Andrew','Yolanda','BoBo']})

In [3]:
registrations

   reg_id    name
0       1  Andrew
1       2    BoBo
2       3  Claire
3       4   David

In [4]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     BoBo

In [ ]:
# outer join
pd.merge()