# Pandas Series

- A Series is a data structure in Pandas that holds an array of information along with a named index.
- The named index differentiates this from a simple Numpy array.
- <b> Formal Definition </b> : One-dimensional ndarray with axis labels

- NumPy array has numeric index
<img src="./1-nparray.png" width="250px" />

- Pandas Series adds on a labeled index
<img src="./2-pandas_series_1.png" width="250px" />

- Data is still numerically organized
<img src="./2-pandas_series_2.png" width="250px" />

## Ways to create a Pandas Series object

In [58]:
import pandas as pd
import numpy as np

In [59]:
myIndex = ['USA','Canada', 'Mexico']

In [60]:
myData = [1776, 1867, 1821]

In [61]:
mySerie = pd.Series(data=myData)

In [62]:
# Without Labels
mySerie

0    1776
1    1867
2    1821
dtype: int64

In [63]:
mySerie2 = pd.Series(data=myData, index=myIndex)

In [64]:
mySerie2

USA       1776
Canada    1867
Mexico    1821
dtype: int64

In [65]:
mySerie2['USA']

1776

In [66]:
mySerie[0]

1776

#### Dictoinary as Pandas Serie

In [67]:
ages = {'max': 18, 'Andy': 30, 'Sam': 23}

In [68]:
pd.Series(ages)

max     18
Andy    30
Sam     23
dtype: int64

In [69]:
# Example Sales data
q1 = {'Japan': 80, 'China': 450, 'India': 200, 'USA': 250}
q2 = {'Brazil': 80, 'China': 450, 'India': 200, 'USA': 250}

In [70]:
sales_q1 = pd.Series(q1)

In [71]:
sales_q1

Japan     80
China    450
India    200
USA      250
dtype: int64

In [72]:
sales_q2 = pd.Series(q2)

In [73]:
sales_q2

Brazil     80
China     450
India     200
USA       250
dtype: int64

In [74]:
sales_q1['Japan']

80

In [75]:
sales_q1.keys()

Index(['Japan', 'China', 'India', 'USA'], dtype='object')

In [76]:
# Brodcast
sales_q1 / 100

Japan    0.8
China    4.5
India    2.0
USA      2.5
dtype: float64

In [77]:
# Pandas Match based on the Label
sales_q1 + sales_q2

Brazil      NaN
China     900.0
India     400.0
Japan       NaN
USA       500.0
dtype: float64

In [78]:
# default value if labels don't match
sales_q1.add(sales_q2, fill_value=0)

Brazil     80.0
China     900.0
India     400.0
Japan      80.0
USA       500.0
dtype: float64

In [79]:
first_half = sales_q1.add(sales_q2, fill_value=0)

In [80]:
sales_q1.dtype

dtype('int64')

In [81]:
first_half.dtype

dtype('float64')

- as soon as you start doing any numeric Computations with Pandas, it's gonna convert them into Floating points
- you can change data type

In [82]:
# pd.Series(dtype=)