# Inner Merge

Often Dataframes are not in the exact same order or format, meaning we ca not simply concatenate them together.
- In this case, we need to merge the DataFrames.
- This is analogous t a JOIN command in SQL
<br><br>
- The .merge() method takes in a key argument labeled "how"
- There are 3 Main ways of merging tables together using the "how" parameter:
    - Inner
    - Outer
    - Left or Right

- The main idea behind the argument is to decide "how" to deal with information only present in one of he joined tables.
<br><br>

#### Example
- Let's image a simple example.
- Our company is holding a confrence for people in the movie rental industry.
- We'll have people register nline beforehand and then login the day of the confrence.
<br><br>
- After the confrence we have these tables
- The respective id columns indicate what order they registerd or logged in on site.
- for the sake of simplicity, we will assume the names are unique.
- (e.g. There is only one person in the company named "Andrew")
- To help you keep track, Registrations name's first letters go A,B,C,D
- First we ned to decide on what column to merge together.
- the on column should be a primary identifier, meaning unique per row.
- the on column should also be present in both tables being merged.
- since we assume names are unique here, will we merge on="name"
- next we need to decide how to merge the tables on the name column.
- with how="inner" the result will be the set of records that match in both tables.

<img src="./assets/10/1-merge_1.png" width="600px" />
<br><br>

- with how="inner" the result will be the set of records that match in both tables.
<img src="./assets/10/1-merge_2.png" width="600px" />
<br><br>

- Merges are often shown as a Venn diagram,
- pd.merge(regitrations, logins, how="inner", on="name")
<img src="./assets/10/1-merge_3.png" width="600px" />
<br><br>

- pd.merge(registrations, logins, how="inner", on="name")
<img src="./assets/10/1-merge_4.png" width="600px" />

In [1]:
import pandas as pd
import numpy as np

In [2]:
registrations = pd.DataFrame({'reg_id': [1, 2, 3, 4], 'name': ['Andrew', 'BoBo','Claire','David']})
logins = pd.DataFrame({'log_id': [1, 2, 3, 4], 'name': ['Xavier', 'Andrew','Yolanda','BoBo']})

In [3]:
registrations

   reg_id    name
0       1  Andrew
1       2    BoBo
2       3  Claire
3       4   David

In [4]:
logins

   log_id     name
0       1   Xavier
1       2   Andrew
2       3  Yolanda
3       4     BoBo

In [6]:
# help(pd.merge)

In [7]:
# Inner merge
pd.merge(registrations, logins, how='inner', on='name')

   reg_id    name  log_id
0       1  Andrew       2
1       2    BoBo       4

In [8]:
# Tables order does not matter
pd.merge(logins, registrations, how='inner', on='name')

   log_id    name  reg_id
0       2  Andrew       1
1       4    BoBo       2